<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title></title>
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='plugins/bootstrap-4.3.1/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='plugins/meanmenu/meanmenu.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='plugins/slick-1.8.1/slick.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='plugins/fancybox-master/jquery.fancybox.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='plugins/aos-animation/aos.css')}}" />
    <!-- fonts -->
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/ep-icon-fonts/css/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/fontawesome-5/css/all.min.css')}}" />
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/settings.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <style>
        * {
            font-family: Verdana, Arial, sans-serif;
        }

        a:link {
            color: #000;
            text-decoration: none;
        }

        .center {
            padding: 10px;
            text-align: center;
        }

        .final {
            color: black;
            padding-right: 3px;
            font-size: 20px;
            font-family: monospace;
            font-weight: 400;
        }

        .interim {
            color: gray;
            font-size: 20px;
            font-family: monospace;
            font-weight: 400;
        }

        .info {
            font-size: 14px;
            text-align: center;
            color: #777;
            display: none;
        }

        .right {
            float: right;
        }

        #headline {
            font-size: 40px;
            font-weight: 300;
        }

        #info {
            font-size: 20px;
            text-align: center;
            color: #777;
            visibility: hidden;
        }

        #results {
            font-size: 20px;
            font-weight: bold;
            border: 2px solid #ddd;
            padding: 15px;
            text-align: left;
            min-height: 150px;
            font-family: monospace;
            font-weight: 500;
        }

        #run {
            font-size: 20px;
            font-weight: bold;
            border: 2px solid #ddd;
            padding: 5px;
            text-align: left;
            min-height: 500px;
            font-family: monospace;
            font-weight: 400;
        }

        #code-snippet {
            font-size: 20px;
            font-weight: bold;
            border: 2px solid #ddd;
            padding: 5px;
            text-align: left;
            height: 100px;
            width: 500px;
            font-family: monospace;
            font-weight: 400;
            margin: auto;
            margin-bottom: 50px;
        }

        #code-snippet-long {
            font-size: 20px;
            font-weight: bold;
            border: 2px solid #ddd;
            padding: 5px;
            text-align: left;
            height: 150px;
            width: 500px;
            font-family: monospace;
            font-weight: 400;
            margin: auto;
            margin-bottom: 50px;
        }

        #start_button {
            border: 0;
            background-color: transparent;
            padding: 0;
        }

        .toc {
            margin-top: 20px;
        }

        .toc:hover {
            color: #076bd2;
        }

        .speak-button {
            background-color: #076bd2;
            padding: 20px 40px;
            font-size: 20px;
            color: white;
        }
    </style>
</head>

<body>
    <div class="site-wrapper">
        <!-- Header Starts -->
        <header class="site-header position-relative">
            <div class="container">
                <div class="row justify-content-center align-items-center position-relative">
                    <div class="col-sm-3 col-6 col-lg-2 col-xl-2 order-lg-1">
                        <!-- Brand Logo -->
                        <div class="brand-logo">
                            <a href="index.html"><img src="{{url_for('static', filename='image/main-logo-2.png')}}" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-sm-8 col-lg-2 col-xl-2 d-none d-sm-block order-lg-3">
                        <div class="header-btns justify-content-end">
                            <a href="#" class="btn btn-link">Sign In</a>
                        </div>
                    </div>
                    <!-- Menu Block -->
                    <div class="col-sm-1 col-6 col-lg-6 col-xl-6 offset-lg-2 position-static order-lg-2">
                        <div class="main-navigation">
                            <ul class="main-menu">
                                <li class="menu-item"><a href="index.html">Home</a></li>

                                <li class="menu-item"><a href="editor.html">Editor</a></li>

                                <li class="menu-item"><a href="academy.html">Academy</a></li>
                            </ul>
                        </div>
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
            <div class="shape-holder header-shape" data-aos="fade-down" data-aos-once="true">
                <img src="{{url_for('static', filename='image/header-shape.svg')}}" alt="" />
            </div>
        </header>

        <div class="hero-area position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-7 col-12">
                        <div class="hero-content">
                            <h1>Academy</h1>
                            <p>
                                Speech-to-text python tutorials designed from scratch for you!
                            </p>
                            <ul>
                                <li class="toc">
                                    <h6><a href="#intro">Introduction to Python</a></h6>
                                </li>
                                <li class="toc">
                                    <h6><a href="#if">If Conditions in Python</a></h6>
                                </li>
                                <li class="toc">
                                    <h6><a href="#for">For Loops in Python</a></h6>
                                </li>
                                <li class="toc">
                                    <h6><a href="#functions">Functions in Python</a></h6>
                                </li>
                            </ul>
                            <div class="hero-btn">
                                <a href="#intro" class="btn btn--orange btn--hover-shine">Get Started</a>
                            </div>
                            <!-- <div class="rating">
            <div class="icon">
              <i class="fas fa-star active"></i>
              <i class="fas fa-star active"></i>
              <i class="fas fa-star active"></i>
              <i class="fas fa-star active"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="text">Trused by over 4,332 students</span>
          </div> -->
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-5 col-12">
                        <div class="hero-media">
                            <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80"
                                alt="" />
                            <!-- <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"><i class="icon icon-triangle-right-17-2"></i></a>
          <div class="media-shape animate-spin"><img src="{{url_for('static', filename='image/media-shape.png')}}" alt=""></div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape-holder hero-shape" data-aos="fade-right" data-aos-once="true">
                <img src="{{url_for('static', filename='image/hero-orange-shape.svg')}}" alt="" />
            </div>
        </div>

        <!-- Course section -->
        <section class="course-section position-relative">
            <div class="shape-holder">
                <!-- <img style="margin-left: 100px;" src="{{url_for('static', filename='image/section-2-shape-bg.svg')}}"
                    alt="" /> -->
            </div>

            <div class="container">
                <br /><br />
                <br /><br />
                <br /><br />
                <br /><br />

                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-title section-black" style="margin-top: -280px;">
                            <h4 id="intro" style="padding-top: 50px;">
                                Introduction to Python
                            </h4>
                            <p>
                                Press the "Hear Audio" button to hear the syntax. Then, click
                                the mic image and repeat what was said.
                            </p>
                            <br /><br />
                            <audio id="sound1" src="{{url_for('static', filename='printhello.m4a')}}"
                                preload="auto"></audio>
                            <button class="speak-button" onclick="document.getElementById('sound1').play();">
                                Hear Audio
                            </button>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <p style="text-align: center; color: #777;">Python Code</p>
                            <div id="code-snippet">
                                print("hello")
                            </div>
                        </div>
                        <div class="col-6">
                            <p style="text-align: center; color: #777;">Output</p>
                            <div id="code-snippet">
                                hello
                            </div>
                        </div>
                    </div>
                </div>

                <div id="info">
                    <p id="info_start">
                        Click on the microphone icon and begin speaking.
                    </p>
                    <p id="info_speak_now">Speak now.</p>
                    <p id="info_no_speech">
                        No speech was detected. You may need to adjust your
                        <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
                            microphone settings</a>.
                    </p>
                    <p id="info_no_microphone" style="display: none;">
                        No microphone was found. Ensure that a microphone is installed and
                        that
                        <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
                            microphone settings</a>
                        are configured correctly.
                    </p>
                    <p id="info_allow">
                        Click the "Allow" button above to enable your microphone.
                    </p>
                    <p id="info_denied">Permission to use microphone was denied.</p>
                    <p id="info_blocked">
                        Permission to use microphone is blocked. To change, go to
                        chrome://settings/contentExceptions#media-stream
                    </p>
                    <p id="info_upgrade">
                        Web Speech API is not supported by this browser. Upgrade to
                        <a href="//www.google.com/chrome">Chrome</a> version 25 or later.
                    </p>
                </div>

                <div class="right">
                    <button id="start_button" onclick="startButton(event)">
                        <img id="start_img" src='{{url_for("static", filename="mic.gif")}}' alt="Start" />
                    </button>
                </div>
                <div id="results">
                    <span id="final_span" class="final"></span>
                    <span id="interim_span" class="interim"></span>
                </div>
                <br /><br />

                <p id="correct-answer" style="text-align: center;color:green;font-size:30px;">Correct! Nice Job!</p>

                <div class="center">
                    <div id="div_language">
                        <select id="select_language" onchange="updateCountry()"></select>
                        <select id="select_dialect"></select>
                    </div>
                </div>

            </div>
        </section>

        <span class="section-devider mt--130"></span>

        <section>
            <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title section-black" style="margin-top: -280px;">
                        <h4 id="if" style="padding-top: 50px;">
                            If conditions in Python
                        </h4>
                        <p>
                            Press the "Hear Audio" button to hear the syntax. Then, click
                            the mic image and repeat what was said.
                        </p>
                        <br /><br />
                        <audio id="sound1" src="{{url_for('static', filename='printhello.m4a')}}"
                            preload="auto"></audio>
                        <button class="speak-button" onclick="document.getElementById('sound1').play();">
                            Hear Audio
                        </button>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <p style="text-align: center; color: #777;">Python Code</p>
                        <div id="code-snippet-long">
                            x = 5 <br>
                            if x == 5: <br>
                            &nbsp&nbsp print(x)
                        </div>
                    </div>
                    <div class="col-6">
                        <p style="text-align: center; color: #777;">Output</p>
                        <div id="code-snippet-long">
                            5
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p style="text-align: center; color: #777;">Click on the microphone icon and begin speaking.</p>
                        <div class="right">
                            <button id="start_button">
                                <img id="start_img" src='{{url_for("static", filename="mic.gif")}}' alt="Start" />
                            </button>
                        </div>
                        <div id="results">
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

        <span class="section-devider mt--130"></span>

        <section>
            <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />

            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title section-black" style="margin-top: -280px;">
                        <h4 id="for" style="padding-top: 50px;">
                            For Loops in Python
                        </h4>
                        <p>
                            Press the "Hear Audio" button to hear the syntax. Then, click
                            the mic image and repeat what was said.
                        </p>
                        <br /><br />
                        <audio id="sound1" src="{{url_for('static', filename='printhello.m4a')}}"
                            preload="auto"></audio>
                        <button class="speak-button" onclick="document.getElementById('sound1').play();">
                            Hear Audio
                        </button>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <p style="text-align: center; color: #777;">Python Code</p>
                        <div id="code-snippet-long">
                            for i in range(1, 4): <br>
                            &nbsp&nbsp&nbsp print(i)
                        </div>
                    </div>
                    <div class="col-6">
                        <p style="text-align: center; color: #777;">Output</p>
                        <div id="code-snippet-long">
                            1<br>
                            2<br>
                            3<br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p style="text-align: center; color: #777;">Click on the microphone icon and begin speaking.</p>
                        <div class="right">
                            <button id="start_button">
                                <img id="start_img" src='{{url_for("static", filename="mic.gif")}}' alt="Start" />
                            </button>
                        </div>
                        <div id="results">
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

        <span class="section-devider mt--130"></span>
        

        <section>
            <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title section-black" style="margin-top: -280px;">
                        <h4 id="functions" style="padding-top: 50px;">
                            Functions in Python
                        </h4>
                        <p>
                            Press the "Hear Audio" button to hear the syntax. Then, click
                            the mic image and repeat what was said.
                        </p>
                        <br /><br />
                        <audio id="sound1" src="{{url_for('static', filename='printhello.m4a')}}"
                            preload="auto"></audio>
                        <button class="speak-button" onclick="document.getElementById('sound1').play();">
                            Hear Audio
                        </button>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <p style="text-align: center; color: #777;">Python Code</p>
                        <div id="code-snippet-long">
                            def square(number): <br>
                            &nbsp&nbsp print(number * number) <br><br>
                            square(4)

                        </div>
                    </div>
                    <div class="col-6">
                        <p style="text-align: center; color: #777;">Output</p>
                        <div id="code-snippet-long">
                            16
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p style="text-align: center; color: #777;">Click on the microphone icon and begin speaking.</p>
                        <div class="right">
                            <button id="start_button">
                                <img id="start_img" src='{{url_for("static", filename="mic.gif")}}' alt="Start" />
                            </button>
                        </div>
                        <div id="results">
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

        

        <!-- Footer Section -->
        <div class="footer-section position-relative">
            <div class="container margin-decrese">
                <span class="section-devider mt--130"></span>
                <div class="row mt--70">
                    <!-- <div class="col-lg-4 col-xl-4 col-sm-6 col-margin">
              <span class="ft-title-sm">Explore</span>
              <div class="row">
                <div class="col-lg-5 col-4">
                    <ul class="footer-list">
                        <li><a href="">About</a></li>
                        <li><a href="">Features</a></li>
                        <li><a href="">Works</a></li>
                        <li><a href="">Career</a></li>
                      </ul>
                </div>

                <div class="col-lg-7 col-8">
                    <ul class="footer-list">
                        <li><a href="">Contact</a></li>
                        <li><a href="">Help &amp; Support</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Terms &amp; Conditions</a></li>
                      </ul>
                </div>
              </div>
          </div> -->
                    <!-- <div class="col-lg-3 col-xl-3 col-sm-6 col-margin">
              <span class="ft-title-sm">Product</span>
              <ul class="footer-list">
                <li><a href="">Essential Landing Page</a></li>
                <li><a href="">Alpha Dashboard Pro</a></li>
                <li><a href="">Karnel Admin Dashboard</a></li>
                <li><a href="">Gray UI Kit</a></li>
              </ul>
          </div> -->
                    <div class="col-lg-12 col-xl-12 col-margin">
                        <div class="ft-newsletter-box">
                            <span class="ft-title-sm">Subscribe to our newsletter</span>
                            <p>
                                Subscribe to get lastest offers, news and events
                                announcements. No spam in your inbox.
                            </p>
                            <form action="">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter your email address" />
                                    <button class="submit-btn">
                                        <i class="icon icon-tail-right"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape-holder footer-shape-2" data-aos="zoom-in-right" data-aos-once="true">
                <img src="{{url_for('static', filename='image/footer-shape.svg')}}" alt="" />
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="{{url_for('static', filename='plugins/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/jquery/jquery-migrate.min.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/bootstrap-4.3.1/js/bootstrap.bundle.js')}}"></script>

    <!-- Plugins JS -->
    <script src="{{url_for('static', filename='plugins/meanmenu/jquery.meanmenu.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/slick-1.8.1/slick.min.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/fancybox-master/jquery.fancybox.min.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/aos-animation/aos.js')}}"></script>

    <!-- Custom JS -->
    <script src="{{url_for('static', filename='js/active.js')}}"></script>
    <script>
        var langs = [
            ["Afrikaans", ["af-ZA"]],
            ["Bahasa Indonesia", ["id-ID"]],
            ["Bahasa Melayu", ["ms-MY"]],
            ["Català", ["ca-ES"]],
            ["Čeština", ["cs-CZ"]],
            ["Deutsch", ["de-DE"]],
            [
                "English",
                ["en-AU", "Australia"],
                ["en-CA", "Canada"],
                ["en-IN", "India"],
                ["en-NZ", "New Zealand"],
                ["en-ZA", "South Africa"],
                ["en-GB", "United Kingdom"],
                ["en-US", "United States"],
            ],
            [
                "Español",
                ["es-AR", "Argentina"],
                ["es-BO", "Bolivia"],
                ["es-CL", "Chile"],
                ["es-CO", "Colombia"],
                ["es-CR", "Costa Rica"],
                ["es-EC", "Ecuador"],
                ["es-SV", "El Salvador"],
                ["es-ES", "España"],
                ["es-US", "Estados Unidos"],
                ["es-GT", "Guatemala"],
                ["es-HN", "Honduras"],
                ["es-MX", "México"],
                ["es-NI", "Nicaragua"],
                ["es-PA", "Panamá"],
                ["es-PY", "Paraguay"],
                ["es-PE", "Perú"],
                ["es-PR", "Puerto Rico"],
                ["es-DO", "República Dominicana"],
                ["es-UY", "Uruguay"],
                ["es-VE", "Venezuela"],
            ],
            ["Euskara", ["eu-ES"]],
            ["Français", ["fr-FR"]],
            ["Galego", ["gl-ES"]],
            ["Hrvatski", ["hr_HR"]],
            ["IsiZulu", ["zu-ZA"]],
            ["Íslenska", ["is-IS"]],
            ["Italiano", ["it-IT", "Italia"], ["it-CH", "Svizzera"]],
            ["Magyar", ["hu-HU"]],
            ["Nederlands", ["nl-NL"]],
            ["Norsk bokmål", ["nb-NO"]],
            ["Polski", ["pl-PL"]],
            ["Português", ["pt-BR", "Brasil"], ["pt-PT", "Portugal"]],
            ["Română", ["ro-RO"]],
            ["Slovenčina", ["sk-SK"]],
            ["Suomi", ["fi-FI"]],
            ["Svenska", ["sv-SE"]],
            ["Türkçe", ["tr-TR"]],
            ["български", ["bg-BG"]],
            ["Pусский", ["ru-RU"]],
            ["Српски", ["sr-RS"]],
            ["한국어", ["ko-KR"]],
            [
                "中文",
                ["cmn-Hans-CN", "普通话 (中国大陆)"],
                ["cmn-Hans-HK", "普通话 (香港)"],
                ["cmn-Hant-TW", "中文 (台灣)"],
                ["yue-Hant-HK", "粵語 (香港)"],
            ],
            ["日本語", ["ja-JP"]],
            ["Lingua latīna", ["la"]],
        ];

        for (var i = 0; i < langs.length; i++) {
            select_language.options[i] = new Option(langs[i][0], i);
        }
        select_language.selectedIndex = 6;
        updateCountry();
        select_dialect.selectedIndex = 6;
        showInfo("info_start");

        function updateCountry() {
            for (var i = select_dialect.options.length - 1; i >= 0; i--) {
                select_dialect.remove(i);
            }
            var list = langs[select_language.selectedIndex];
            for (var i = 1; i < list.length; i++) {
                select_dialect.options.add(new Option(list[i][1], list[i][0]));
            }
            select_dialect.style.visibility =
                list[1].length == 1 ? "hidden" : "visible";
        }

        var create_email = false;
        var final_transcript = "";
        var recognizing = false;
        var ignore_onend;
        var start_timestamp;
        if (!("webkitSpeechRecognition" in window)) {
            upgrade();
        } else {
            start_button.style.display = "inline-block";
            var recognition = new webkitSpeechRecognition();
            recognition.continuous = true;
            recognition.interimResults = true;

            recognition.onstart = function () {
                recognizing = true;
                showInfo("info_speak_now");
                start_img.src = '{{url_for("static", filename="mic-animate.gif")}}';
            };

            recognition.onerror = function (event) {
                if (event.error == "no-speech") {
                    start_img.src = '{{url_for("static", filename="mic.gif")}}';
                    showInfo("info_no_speech");
                    ignore_onend = true;
                }
                if (event.error == "audio-capture") {
                    start_img.src = '{{url_for("static", filename="mic.gif")}}';
                    showInfo("info_no_microphone");
                    ignore_onend = true;
                }
                if (event.error == "not-allowed") {
                    if (event.timeStamp - start_timestamp < 100) {
                        showInfo("info_blocked");
                    } else {
                        showInfo("info_denied");
                    }
                    ignore_onend = true;
                }
            };

            recognition.onend = function () {
                recognizing = false;
                if (ignore_onend) {
                    return;
                }
                start_img.src = '{{url_for("static", filename="mic.gif")}}';
                if (!final_transcript) {
                    showInfo("info_start");
                    return;
                }
                showInfo("");
                if (window.getSelection) {
                    window.getSelection().removeAllRanges();
                    var range = document.createRange();
                    range.selectNode(document.getElementById("final_span"));
                    window.getSelection().addRange(range);
                }
                if (create_email) {
                    create_email = false;
                    createEmail();
                }
            };

            recognition.onresult = function (event) {
                var interim_transcript = "";
                for (var i = event.resultIndex; i < event.results.length; ++i) {
                    if (event.results[i].isFinal) {
                        final_transcript += event.results[i][0].transcript;
                        console.log(event.results[i][0].transcript);
                        var formData = new FormData();
                        formData.append("name", "Murdock");
                        var req = new XMLHttpRequest();
                        req.open("POST", "/" + event.results[i][0].transcript);
                        req.send(formData);
                        // var xhttp = new XMLHttpRequest();
                        // xhttp.onreadystatechange = function () {
                        //     if (this.readyState == 4 && this.status == 200) {
                        //         // Typical action to be performed when the document is ready:
                        //         // document.getElementById("demo").innerHTML = xhttp.responseText;
                        //     }
                        // };
                        // xhttp.open("POST", "/" + event.results[i][0].transcript, true);
                        // xhttp.send();
                    } else {
                        interim_transcript += event.results[i][0].transcript;
                    }
                }
                // final_transcript = capitalize(final_transcript);
                final_span.innerHTML = linebreak(final_transcript);
                interim_span.innerHTML = linebreak(interim_transcript);
                if (final_transcript || interim_transcript) {
                    showButtons("inline-block");
                }
            };
        }

        function upgrade() {
            start_button.style.visibility = "hidden";
            showInfo("info_upgrade");
        }

        var two_line = /\n\n/g;
        var one_line = /\n/g;
        function linebreak(s) {
            return s.replace(two_line, "<p></p>").replace(one_line, "<br>");
        }

        var first_char = /\S/;
        function capitalize(s) {
            return s.replace(first_char, function (m) {
                return m.toUpperCase();
            });
        }

        function createEmail() {
            var n = final_transcript.indexOf("\n");
            if (n < 0 || n >= 80) {
                n = 40 + final_transcript.substring(40).indexOf(" ");
            }
            var subject = encodeURI(final_transcript.substring(0, n));
            var body = encodeURI(final_transcript.substring(n + 1));
            window.location.href = "mailto:?subject=" + subject + "&body=" + body;
        }

        function copyButton() {
            if (recognizing) {
                recognizing = false;
                recognition.stop();
            }
            copy_button.style.display = "none";
            copy_info.style.display = "inline-block";
            showInfo("");
        }

        function emailButton() {
            if (recognizing) {
                create_email = true;
                recognizing = false;
                recognition.stop();
            } else {
                createEmail();
            }
            email_button.style.display = "none";
            email_info.style.display = "inline-block";
            showInfo("");
        }

        function startButton(event) {
            if (recognizing) {
                recognition.stop();
                return;
            }
            final_transcript = "";
            recognition.lang = select_dialect.value;
            recognition.start();
            ignore_onend = false;
            final_span.innerHTML = "";
            interim_span.innerHTML = "";
            start_img.src = '{{url_for("static", filename="mic-slash.gif")}}';
            showInfo("info_allow");
            showButtons("none");
            start_timestamp = event.timeStamp;
        }

        function showInfo(s) {
            if (s) {
                for (var child = info.firstChild; child; child = child.nextSibling) {
                    if (child.style) {
                        child.style.display = child.id == s ? "inline" : "none";
                    }
                }
                info.style.visibility = "visible";
                document.getElementById("correct-answer").style.visibility = "hidden";
            } else {
                info.style.visibility = "hidden";
                document.getElementById("correct-answer").style.visibility = "visible";
            }
        }

        var current_style;
        function showButtons(style) {
            if (style == current_style) {
                return;
            }
            current_style = style;
            copy_button.style.display = style;
            email_button.style.display = style;
            copy_info.style.display = "none";
            email_info.style.display = "none";
        }
    </script>
    <script>
        document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
            anchor.addEventListener("click", function (e) {
                e.preventDefault();

                document.querySelector(this.getAttribute("href")).scrollIntoView({
                    behavior: "smooth",
                });
            });
        });
    </script>
</body>

</html>