$primary-color:#4ebe86;
$body-color:#fff;

// Fonts

$primary-font: 'Karla', sans-serif;
$secondary-font:'Work Sans', sans-serif;


// Screen Width
$screen-xxs: 320px;
$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1366px;
$screen-xxxl: 1600px;